Django==1.11
Pygments==2.7.4
amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
django-celery-results==1.0.1
django-debug-toolbar==1.8
django-excel==0.0.6
django-pdb==0.6.1
django-webpack-loader==0.4.1
djangorestframework==3.6.2
kombu==4.1.0
pyexcel==0.4.5
pyexcel-io==0.3.3
pyexcel-webio==0.0.11
pyexcel-xls==0.3.3
pytz==2017.2
sqlparse==0.2.3
texttable==0.8.8
vine==1.1.4
wsgiref==0.1.2
xlrd==1.0.0
xlwt==1.2.0
