<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Preview [A] - &#39;netwrked light&#39;</title>
    <script src="/app_assets/jquery/jquery-02e8a4b56e2bdf58bd82570a8fae31fa.js"></script>
    <link rel="stylesheet" media="screen" href="//assets.unbounce.com/m/lp-page-builder/releases/v6.8.66/preview.css" /><script src="//assets.unbounce.com/m/lp-page-builder/releases/v6.8.66/preview.js"></script>
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7928512/722606/css/fonts.css" />

  </head>
  <body class="page-preview" data-theme="nighthawks">
        <script>
    dataLayer = [{
      'user_id': '2227162',
      'current_user_plan': 'free_2017',
      'current_account_owner_id': '2227162',
      'current_account': '2209582',
      'current_account_plan': 'free_2017',
      'current_account_plan_price': '0',
      'current_company_id': '2402132',
      'current_account_token': 'c25cacb8742c1912',
    }]
    </script>

  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WKN6L2"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WKN6L2');</script>
  <!-- End Google Tag Manager -->


    


<header class="primary-header divider-left editor editor-header">
  <div class="logo editor editor-header-button">
    <a class="header-builder-logo-icon raster-logo" href="/2402132"><img class="unbounce-builder-logo-icon" src="/app_assets/legacy/logo-icon-grey-8772aaafd0273e18c3f03f0ade933fb7.png" alt="Logo icon grey" /></a>
    <a class="vector-logo editor-header-logo" href="/2402132/pages">
      <svg viewBox="0 0 197 197">
        <path d="M98.6,3.7C46,3.7,4,46,4,98.5c0,52.4,42.4,95,95,95c52.4,0,95-42.4,95-95 C193.4,46,151,3.7,98.6,3.7z M72.4,165c1-6.7,2-13,3-18.7C54.5,136,41,115,44.6,90.6c4.6-33,30-50,62-47 c2.4-3.4,5-6.7,8-10c5.4-6,13.4-6,10,1c-7,14-10,24-16.4,41C102,93,92.4,119,79.6,165 C78.6,169,72,168.6,72.4,165z M152.6,104.5c-4,31.6-33.7,49.5-63,46.4c2-7,3-10,5.6-16c2-3,9-4.7,14-7 c11-4,19.4-14,21-26c1-9-1.4-17-6.5-23.7c-3.5-4.5-7-7-5.7-11.4c1.7-5.7,3-10,6-17 C143.6,60,155.7,81.5,152.6,104.5z"/>
        <path d="M67,93.5c-1,8.4,1,16.5,6,23c3,4,5.4,6.5,6.6,8.4c4-20.6,6.5-31,10-43 c1.6-5,4.4-12,6-16.7c-2,1-5.7,1.7-8.4,2.7C76.6,71.6,68,81,67,93.5z"/>
      </svg>
</a>  </div>

  <div class="editor-header-button page-overview-header-button page-overview-link editor">
    <a class="page-overview-header-link crumb-link ellipsis editor-header-button-label" href="/2402132/pages/cd176d87-4e93-4c1b-a8d7-fc58c15a6ead">
      <span class="editor-header-button-label-icon back-caret"></span>
      <span class="editor-header-button-label-content">Overview</span>
</a>  </div>

  <div class="page-name crumb editor-header-button header-button-no-border">
    <a class="crumb-link editor-header-button-label header-button-no-border" href="/2402132/pages/cd176d87-4e93-4c1b-a8d7-fc58c15a6ead">
      <span class="ellipsis-button">netwrked light</span>
</a>  </div>

    <nav class="variant-dropdown crumb dropdown editor-header-dropdown">


  <a class="dropdown-toggle crumb-link editor-header-dropdown-label svg-ico-after-dropdown-triangle" data-toggle="dropdown" href="#">
    <div class="arrow">
      <span>Variant</span>
      <strong>A</strong>
    </div>
</a>
  <div class="editor-header-dropdown-list dropdown-list with-bottom-button">
    <div class="headings scrollable">

        <span class="header clearfix name">Champion Variant</span>
        <a class="clearfix testing current" href="/2402132/pages/cd176d87-4e93-4c1b-a8d7-fc58c15a6ead/preview?variant_id=136559232">
            <span class="letter">A</span>
            <span class="name ellipsis">First Variant</span>
</a>
          <span class="header clearfix name">Challenger Variants</span>
            <a class="clearfix testing" href="/2402132/pages/cd176d87-4e93-4c1b-a8d7-fc58c15a6ead/preview?variant_id=136589772">
                <span class="letter">B</span>
                <span class="name ellipsis">First Variant copy 1</span>
</a>


    </div>

      <div class="bottom-button">
        <form action="/2402132/variants/136559232/duplicate?return_to_editor=true" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="dHzkZB4XwHTpnNIZ2WNozSQLo2fCNtrlFCYYyBCFEWrStAU5THuwAi2Cf91D/D06QPQzc19x1frLZzfmP3iJbA==" />
          <button class="duplicate-variant-button" type="submit">
            <span class="plus-ico"></span>
            <span class="duplicate-variant-button-label">Create Duplicate of Variant A</span>
          </button>
</form>      </div>

  </div>

</nav>


  <div class="breakpoint responsive-device-container">
      <a id="desktop-button" class="js-device-toggle device-mode device-mode-desktop footer-control footer-control-button svg-ico-desktop tab tab-bar-tab active" href="#desktop">Desktop</a>
      <a id="mobile-button" class="js-device-toggle device-mode device-mode-mobile footer-control footer-control-button svg-ico-mobile tab tab-bar-tab" href="#mobile">Mobile</a>
  </div>


  <!-- Start of unbounce Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","unbounce.zendesk.com");
/*]]>*/</script>
<!-- End of unbounce Zendesk Widget script -->
<script>
zE(function() {
  zE.identify({
    name: "Gene Sussman",
    email: "gene.sussman@gmail.com",
  });
  zE.hide();
});
jQuery(document).ready(function() {
  jQuery("#submit_zendesk_ticket").click(function() {
    zE.activate({hideOnClose: true});
    return false;
  });
});
</script>



  <nav class="support-menu dropdown divider-left float-right smaller editor-header-dropdown header-dropdown-no-border">
  <div class="dropdown-toggle clearfix svg-ico-help editor-header-dropdown-label svg-ico-after-dropdown-triangle" data-toggle="dropdown">
    <div class="inner support-button">
      <span class="icon js-show-status-error"></span>
      <div class="details">
        <h3 class="ellipsis">Support</h3>
      </div>
    </div>
</div>
  <div class="dropdown-list editor-header-dropdown-list">

    <ul class="headings scrollable">

      <li>

        <span class="header clearfix name">Support &amp; Help Information</span>

        <ul class="items clearfix">

          <li class="user-guide">
            <a class="clearfix support-dropdown-link dropdown-link svg-ico-documentation" target="_blank" href="https://unbounce.com/get-started-with-unbounce/">
            <span class="name">Getting Started Guide</span>
</a>          </li>

          <li class="unbounce-answers">
            <a href="http://documentation.unbounce.com/hc/en-us" class="clearfix support-dropdown-link dropdown-link svg-ico-help" target="_blank">
              <span class="name">Documentation</span>
            </a>
          </li>

          <li class="link">
            <a class="clearfix support-dropdown-link dropdown-link svg-ico-community" target="_blank" href="https://community.unbounce.com/">
              <span class="name">Community</span>
</a>          </li>



            <li class="new-support-ticket">
              <a id="submit_zendesk_ticket" class="clearfix support-dropdown-link dropdown-link svg-ico-support-ticket" href="http://documentation.unbounce.com/hc/en-us/requests/new">
                <span class="name">Create a new Support Ticket</span>
</a>            </li>
              
              <li class="link">
                <a class="clearfix support-dropdown-link dropdown-link svg-ico-community" target="_blank" href="https://documentation.unbounce.com/hc/en-us/articles/360017963991-New-in-September-18/">
                  <span class="name">What's New</span>
</a>              </li>

        </ul>

            <span class="header clearfix name">System Status</span>

            <ul class="items clearfix">

              <li class="system-status">
                <a class="clearfix support-dropdown-link dropdown-link" target="_blank" href="http://status.unbounce.com/">
                  <span id="system-status" class="system-status-indicator"></span>
                  <span id="system-status-description" class="name system-status-description">
                    Loading...
                  </span>
</a>              </li>
            </ul>


      </li>
    </ul>

  </div>
  </nav>
  <script>
    jQuery(document).ready(function($){
      var supportMenuList = $('ul.contextual-tours-menu');
      var self = this;

      // Script to Load the Status status_indicator
      jQuery.getScript("https://statuspage-production.s3.amazonaws.com/se-v2.js", function(data) {
        var statusPage = new StatusPage.page({ page : 'ywsbtsrktl04' });
        statusPage.summary({
          success: function(data) {
            if (data.status.indicator === "none") {
              jQuery('#system-status').addClass("okay");
              jQuery('#system-status-description').html("All Systems Go!");
            } else {
              jQuery('#system-status, .js-show-status-error').addClass("fire");
              jQuery('#system-status-description').html("Issues Reported &raquo;");
            }
          }
        });

      });

      if(window.gon && supportMenuList.length > 0) {

        var tours = gon && gon.tours ? gon.tours : [];

        // remove the default "there are no tours" element
        if(tours.length > 0) {
          supportMenuList.empty();
        }

        var tour = {};
        $.each(tours, function(index, tourObj){
          var li =   $('<li>').addClass('tour'),
              a  =   $('<a>').addClass('clearfix'),
              span = $('<span>').addClass('name').text(tourObj.title);

          li.append(a);

          li.click(function(){
            $('.popover').hide();//Only one tour can be open at any time.
            jQuery(self).tourManager(tourObj.name, true);
          });

          a.append(span);
          supportMenuList.append(li);
        });
      }
    });
  </script>  

  
  

  <div class="mode js-mode flat-crumb flat-crumb-toggle editor-header-mode edit-republish-controls editor-header-button">

    <a class="editor-header-button-label editor-header-preview-button crumb-link svg-ico-edit" href="/2402132/variants/136559232/edit">Edit</a>

    <a target="_blank" class="editor-header-button-label svg-ico-preview editor-header-preview-button preview-button-big crumb-link current" href="/2402132/pages/cd176d87-4e93-4c1b-a8d7-fc58c15a6ead/preview?variant_id=136559232">Preview</a>
  </div>
</header>


    <div id="page-preview-container">
      <div id="loading">
        <div class="loading-icon"></div>
        <p>Loading your page preview</p>
      </div>

      <iframe id="page-preview" src="https://app.unbouncepreview.com/2402132/variants/136559232/preview"></iframe>

    </div>
    <script src="/app_assets/jquery/bootstrap-dropdown-84ea666086ab39e1432b627a68a7c03c.js"></script>
  </body>
</html>