<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>User Registration</title>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133439429-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-133439429-1');
</script>

    <script type="text/javascript">
        window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
          heap.load("616961255");
    </script>

<!-- Hotjar Tracking Code for http://www.startnetworked.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1161317,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

        <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: 14px;">
  <div class="container" style="font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 700;">
                <a class="navbar-brand topnav" href="/" style="font-size: 14px; font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: 700;">Networked<sup>beta</sup></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto" style="font-size: 14px; font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: 700;">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/pricing">Pricing<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  </div>
</nav>

<!--<div class="container">
  <div class="row text-center mx-auto" style="padding-top: 1em;">
  <h1 class="text-center mx-auto">
    You've successfully uploaded {{ connections.count }} connections! 
  </h1>
  <h2 class="text-center mx-auto">
    You're on your way to having a stronger network!
  </h2>
  </div>
    <p style="padding-top: 3em;">
      We will contact you within the next 48 hours with your first round of people to contact for this week. If you have any questions please reach out.
    </p>
  
</div>-->

<div class="container">
  <br>
 
  <h1>Let's Get Started!</h1>
  <p>Tell us about you &#8212 your background, what industries you're interested in, and what level of networking effort you want to do.</p>
<hr class="style1">
  
<form method="post">
  <div class="form-group">
    <label>Name</label>
<div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" name = "first_name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name" name = "last_name">
    </div>
  </div>
  </div>

  <div class="form-group">
    <label for="date">What industry do you currently work in?</label>
    <select class="form-control" id="exampleFormControlSelect2" name = "industry">
<option>Accounting</option>
<option>Airlines/Aviation</option>
<option>Alternative Dispute Resolution</option>
<option>Alternative Medicine</option>
<option>Animation</option>
<option>Apparel & Fashion</option>
<option>Architecture & Planning</option>
<option>Arts & Crafts</option>
<option>Automotive</option>
<option>Aviation & Aerospace</option>
<option>Banking</option>
<option>Biotechnology</option>
<option>Broadcast Media</option>
<option>Building Materials</option>
<option>Business Supplies & Equipment</option>
<option>Capital Markets</option>
<option>Chemicals</option>
<option>Civic & Social Organization</option>
<option>Civil Engineering</option>
<option>Commercial Real Estate</option>
<option>Computer & Network Security</option>
<option>Computer Games</option>
<option>Computer Hardware</option>
<option>Computer Networking</option>
<option>Computer Software</option>
<option>Construction</option>
<option>Consumer Electronics</option>
<option>Consumer Goods</option>
<option>Consumer Services</option>
<option>Cosmetics</option>
<option>Dairy</option>
<option>Defense & Space</option>
<option>Design</option>
<option>Education Management</option>
<option>E-learning</option>
<option>Electrical & Electronic Manufacturing</option>
<option>Entertainment</option>
<option>Environmental Services</option>
<option>Events Services</option>
<option>Executive Office</option>
<option>Facilities Services</option>
<option>Farming</option>
<option>Financial Services</option>
<option>Fine Art</option>
<option>Fishery</option>
<option>Food & Beverages</option>
<option>Food Production</option>
<option>Fundraising</option>
<option>Furniture</option>
<option>Gambling & Casinos</option>
<option>Glass, Ceramics & Concrete</option>
<option>Government Administration</option>
<option>Government Relations</option>
<option>Graphic Design</option>
<option>Health, Wellness & Fitness</option>
<option>Higher Education</option>
<option>Hospital & Health Care</option>
<option>Hospitality</option>
<option>Human Resources</option>
<option>Import & Export</option>
<option>Individual & Family Services</option>
<option>Industrial Automation</option>
<option>Information Services</option>
<option>Information Technology & Services</option>
<option>Insurance</option>
<option>International Affairs</option>
<option>International Trade & Development</option>
<option>Internet</option>
<option>Investment Banking/Venture</option>
<option>Investment Management</option>
<option>Judiciary</option>
<option>Law Enforcement</option>
<option>Law Practice</option>
<option>Legal Services</option>
<option>Legislative Office</option>
<option>Leisure & Travel</option>
<option>Libraries</option>
<option>Logistics & Supply Chain</option>
<option>Luxury Goods & Jewelry</option>
<option>Machinery</option>
<option>Management Consulting</option>
<option>Maritime</option>
<option>Marketing & Advertising</option>
<option>Market Research</option>
<option>Mechanical or Industrial Engineering</option>
<option>Media Production</option>
<option>Medical Device</option>
<option>Medical Practice</option>
<option>Mental Health Care</option>
<option>Military</option>
<option>Mining & Metals</option>
<option>Motion Pictures & Film</option>
<option>Museums & Institutions</option>
<option>Music</option>
<option>Nanotechnology</option>
<option>Newspapers</option>
<option>Nonprofit Organization Management</option>
<option>Oil & Energy</option>
<option>Online Publishing</option>
<option>Outsourcing/Offshoring</option>
<option>Package/Freight Delivery</option>
<option>Packaging & Containers</option>
<option>Paper & Forest Products</option>
<option>Performing Arts</option>
<option>Pharmaceuticals</option>
<option>Philanthropy</option>
<option>Photography</option>
<option>Plastics</option>
<option>Political Organization</option>
<option>Primary/Secondary Education</option>
<option>Printing</option>
<option>Professional Training</option>
<option>Program Development</option>
<option>Public Policy</option>
<option>Public Relations</option>
<option>Public Safety</option>
<option>Publishing</option>
<option>Railroad Manufacture</option>
<option>Ranching</option>
<option>Real Estate</option>
<option>Recreational</option>
<option>Facilities & Services</option>
<option>Religious Institutions</option>
<option>Renewables & Environment</option>
<option>Research</option>
<option>Restaurants</option>
<option>Retail</option>
<option>Security & Investigations</option>
<option>Semiconductors</option>
<option>Shipbuilding</option>
<option>Sporting Goods</option>
<option>Sports</option>
<option>Staffing & Recruiting</option>
<option>Supermarkets</option>
<option>Telecommunications</option>
<option>Textiles</option>
<option>Think Tanks</option>
<option>Tobacco</option>
<option>Translation & Localization</option>
<option>Transportation/Trucking/Railroad</option>
<option>Utilities</option>
<option>Venture Capital</option>
<option>Veterinary</option>
<option>Warehousing</option>
<option>Wholesale</option>
<option>Wine & Spirits</option>
<option>Wireless</option>
<option>Writing & Editing</option>
    </select>

  </div>

<div class="form-group">
    <label for="date">What is your current job function?</label>
    <select class="form-control" id="exampleFormControlSelect2" name = "job">
<option>Corporate communications</option>
<option>Customer service/support</option>
<option>Creative/Design</option>
<option>Facilities or real estate management</option>
<option>Finance or accounting</option>
<option>Human resources</option>
<option>Information Technology/IT</option>
<option>Manufacturing</option>
<option>Marketing (including Web/digital)</option>
<option>Operations</option>
<option>Procurement/purchasing</option>
<option>Product/service development and/or management</option>
<option>R&D</option>
<option>Risk management/regulatory and compliance</option>
<option>Sales</option>
<option>Strategic planning/business analysis</option>
<option>Supply chain management</option>
<option>Other</option>
    </select>

  </div>

<div class="form-group">
    <label for="date">Which best describes your current title or position?</label>
    <select class="form-control" id="exampleFormControlSelect2" name = "title">
<option>Internship</option>
<option>Entry level</option>
<option>Associate</option>
<option>Mid-Senior level</option>
<option>Director</option>
<option>Executive</option>
    </select>

  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Describe your main goal in using Networked.</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name = "goal" placeholder="This can be something like &quot;I want to accelerate my career on the path I'm currently on,&quot; or &quot;I'm looking for new roles in the telecommunications industry focused on brand marketing.&quot;"></textarea>
  </div>

<div class="form-group">
    <label for="exampleFormControlTextarea1">How actively do you want to network each week?</label> </br>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="activity" id="inlineRadio1" value="Low">
  <label class="form-check-label" for="inlineRadio1">Light networker (<2 hours) – recommended to maintain network</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="activity" id="inlineRadio2" value="Med">
  <label class="form-check-label" for="inlineRadio2">Medium networker (2-5 hours) – recommended for passive jobseekers</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="activity" id="inlineRadio3" value="High">
  <label class="form-check-label" for="inlineRadio3">Super networker (5+ hours) – recommended for active jobseekers</label>
</div>
</div>
    
<div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required name="un">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  
  {% for field in form %}
<div class="form-group">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text|safe }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
</div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
        {% csrf_token %}
</form>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
