
<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133439429-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-133439429-1');
</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Pricing - Networked</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/pricing.css" rel="stylesheet">
<style type="text/css">
  .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}
</style>

<!-- Hotjar Tracking Code for http://www.startnetworked.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1161317,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>


  </head>

  <body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: 14px;">
  <div class="container" style="font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 700;">
                <a class="navbar-brand topnav" href="/" style="font-size: 14px; font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: 700;">Networked<sup>beta</sup></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto" style="font-size: 14px; font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: 700;">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/pricing">Pricing<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  </div>
</nav>

{% if messages %}
  <div class="alert alert-success" role="alert">
    {% for message in messages %}
      <p class="{{ message.tags }}" style="text-align:center">{{ message }}</p>
    {% endfor %}
  </div>
{% endif %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Pricing</h1>
    </div>

    <div class="container">
      <div class="card-deck w-50 w-md-75 mb-3 text-center mx-auto">

        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Get Started</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$4<sup style="top:-.7em; font-size: 50%">99</sup> <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li style="border-bottom:solid 1px #DDD;"><span>&#8226; </span>Upload unlimited connections</li>
              <li style="border-bottom:solid 1px #DDD;"><span>&#8226; </span>Get a custom weekly networking plan</li>
              <li style="border-bottom:solid 1px #DDD;"><span>&#8226; </span>Track status through our website, email, and text</li>
              <li style="border-bottom:solid 1px #DDD;"><span>&#8226; </span>Suggestions on writing effective messages</li></li>
            </ul>
            <a href="user-info" class="btn btn-primary btn-lg">Get Started!</a>
<!--            
 <form action="/checkout/" method="POST"> {% csrf_token %}
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key={{stripe_key}}
    data-amount="999"
    data-name="Networked"
    data-description="Get Started"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-label="Get Started">
  </script>
</form>

-->
          </div>
        </div>

      </div>
      
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sorry, we're fresh out of beta testing spots</h5>
      </div>
              <form method="post"> {% csrf_token %}
      <div class="modal-body">
        <p>We're working hard to make Networked perfect, but we've already filled up all our spots for beta tester. If you leave your email below we will contact you when we are ready to start taking new people. </p>

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="emailname">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

    
 
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      </form>

      
    </div>
  </div>
</div>


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; Networked 2018. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>